:root {
  --bg: #fbdd9d;
  --flower: #e8b12d;
  --leaf: #4f4e28;
  --center: #925f17;
  --dkbg: #e9bf59;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  /* border: 10px solid blue; */
  display: flex;
  /* align-items: center; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.App::-webkit-scrollbar {
  display: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes revealBox {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes revealBox2 {
  0% {
    width: 0%;
    display: none;
  }
  50% {
    width: 0%;
    display: initial;
  }
  100% {
    width: 60%;
  }
}

header {
  display: flex;
  align-items: center;
  gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

header::after {
  content: '';
  width: 5px;
  height: 35px;
  background: #fff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}
#blinker {
  display: flex;
  flex-direction: row;
}

button {
  font-size: 2rem;
  padding: 1rem 1.5rem;
}

.App {
  display: flex;
}
.App > div:first-child {
  /* width: 40%; */
  flex: 2;
  min-width: fit-content;
  height: 100%;
  background-color: var(--leaf);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.App > div:first-child:hover {
  animation: grow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.App > div:first-child:hover > div:first-child {
  animation: spin 8s linear infinite;
}
.App > div:first-child:hover > #name > div:first-child::before {
  animation: name-change linear forwards 1s;
}
.App > div:first-child:hover > #name > div:nth-child(2)::before {
  animation: name-change2 linear forwards 1s;
}
.App > div:nth-child(2) {
  flex: 14 1 auto;
  height: 400vh;
  background-color: var(--bg);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* height: 200vh; */
  padding-bottom: 3rem;
}
.App > div:nth-child(2)::-webkit-scrollbar {
  display: none;
}
.App > div:first-child:hover > .social {
  animation: name-show ease-in forwards 1s;
}
@keyframes name-change {
  0% {
  }
  100% {
    content: 'Brycen';
  }
}
@keyframes name-change2 {
  0% {
  }
  100% {
    content: 'Barron-Borden';
  }
}
@keyframes name-show {
  100% {
    color: var(--bg);
  }
}
@keyframes grow {
  0% {
    flex: 2;
  }
  100% {
    flex: 3.5;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
#flower {
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 3;
  overflow: visible;
  margin-top: 3rem;
}

#flower > * {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%;

  /* transform: translate(-50%, -50%); */
}
.flowerCenter {
  z-index: 3;
  width: 50px;
  height: 50px;
  background: var(--center);
  transform: translate(-50%, -50%);
}
.petalFlat {
  background: var(--flower);
  position: absolute;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.petalDiag1 {
  position: absolute;

  background: var(--flower);
  width: 100px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.petalDiag2 {
  position: absolute;
  background: var(--flower);
  width: 100px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.petalUp {
  position: absolute;
  background: var(--flower);
  width: 100px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

#name {
  margin-top: 5rem;
  font-size: 3rem;
  color: var(--dkbg);
  height: 250px;
  margin-bottom: 1rem;
}

#name > div:first-child::before {
  content: 'B^3';
}
#name > div:nth-child(2)::before {
  content: '';
  font-size: 2.4rem;
  text-align: left;
}

img {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--flower);
}

.social {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: transparent;
  font-size: 1.2rem;
}

.social:hover {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

#picBox {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* margin-left: 2rem; */
  position: relative;
  overflow: hidden;
}

#pic {
  background-image: url('./assets/full.JPG');
  background-position: -1350px;
  background-repeat: no-repeat;
  width: 1500px;
  height: 1500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
}
.left {
  position: sticky;
  align-self: flex-start;
  height: auto;
  top: 0;
}
.right {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: visible;
  flex-direction: column;
  /* border: 23px solid black; */
}
.right > div > div {
  width: 100%;
  height: 100%;
  /* border: 1px purple; */
}

.right > div > div {
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
  margin-bottom: 1rem;
}

.right > div > div > div:last-child {
  /* border: 1px solid green; */
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}

#container {
  height: 400vh;
  /* border: 4px solid maroon; */
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  margin: auto;
}

#container > div {
  /* margin: auto; */
  /* flex: 1; */
  height: 100vh;
  max-width: 100%;
}
/* 
#container > div:first-child {
  top: 0;
  margin-bottom: 2rem;
} */

.first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.second > p {
  width: 10%;
}

nav {
  display: flex;
  justify-content: space-around;
}
